[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Rcpp"]
	path = Rcpp
	url = https://github.com/rcppcore/rcpp
	shallow = true
	branch = HEAD
[submodule "RcppArmadillo"]
	path = RcppArmadillo
	url = https://github.com/rcppcore/rcpparmadillo
	shallow = true
	branch = HEAD
[submodule "RcppEigen"]
	path = RcppEigen
	url = https://github.com/rcppcore/rcppeigen
	shallow = true
	branch = HEAD
[submodule "RcppParallel"]
	path = RcppParallel
	url = https://github.com/rcppcore/rcppparallel
	shallow = true
	branch = HEAD
